
.login_form{
  text-align: center;

}
.login_form input{
  width: 100%;
  padding: 5px 15px;
  box-sizing: border-box;
  border: 2px solid rgba(110, 109, 109, 0.8);
  color: rgba(110, 109, 109, 0.8);
  background-color: transparent;
  font-weight: bold;
}
.login_form input:focus{
  background-color: rgba(110, 109, 109, 0.2);
}
.login_form input::placeholder{
  color: rgba(110, 109, 109, 0.8);
  text-transform: uppercase;
}
.login_form p{
  width: 30%;
  margin: 5px auto;
}
