.password_line{
  display: inline-block;
  position: relative;
}
.show{
  position: absolute; 
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 24px;
  height: 100%;
  margin: 0;
  opacity: 0;
}
.show:before{
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/eye.svg");
}