.password_line{
  display: inline-block;
  position: relative;
}
input.show{
  position: absolute; 
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 24px;
  height: 100%;
  margin: 0;
  opacity: 0.0001;
}
.eye{
  position: absolute;
  top: 50%;
  right: 10px;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  background-image: url("../img/eye.svg");
  transform: translateY(-50%);
  transition: all .3s ease;
}
.show:checked+.eye{
  opacity: 0.7;
}